lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
dist/

# ignore .lock
yarn.lock
package-lock.json

/public/supplier-themes/*
!/public/supplier-themes/.gitkeep
/public/editor

/persist/
.expressvue